/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
  background: #b8ebeb;
  word-wrap: break-word !important;
  font-family: "Open Sans", sans-serif;
}

p {
  text-align: center;
}

nav {
  margin: 50px 0;
  background-color: #487070;
}
nav ul li {
  display: inline-block;
  background-color: #487070;
}

nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size:16px;
  line-height: 60px;
  text-decoration: none;
}

ul {
  list-style-type: square;
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 15px 0 15px 16px;
  color: blue;
  cursor: pointer;
}

